@theme-img-path: '../../../themes/@{theme}/img/';

.uv.en-gb {
    .footerPanel{
        .searchPager {
            .controls{
                .searchResultsInfo{
                    width: 337px;
                }
            }
        }
        .options{
            background-color: #5f574f;
            margin-left: -8px;
            margin-right: -8px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
