@theme-img-path: '../../../themes/@{theme}/img/';

.uv.en-gb {
    .headerPanel{

        a.imageBtn{

            &.first{
                background-color: transparent;
                &:hover{
                    background-color: @gray-dark;
                }
            }

            &.prev{
                background-color: transparent;
                &:hover{
                    background-color: @gray-dark;
                }
            }

            &.next{
                background-color: transparent;
                &:hover{
                    background-color: @gray-dark;
                }
            }

            &.last{
                background-color: transparent;
                &:hover{
                    background-color: @gray-dark;
                }
            }

            &.disabled{
                background-color: transparent;
                &:hover{
                    background-color: transparent;
                }
            } 
        }

        .options{
            background-color: #5f574f;
        }
    }
}
